*
  transition all 0.5s

#form-card
  width 450px
  @media (max-width: 450px)
    width 100%
    height 100%
    padding 2rem !important
#form-footer
  position absolute
  text-align center
  width 100%
  background-color rgba(255,255,255,0)
  justify-content center
  left 0
  display flex
  padding 40px 0 0
  font-size 15px
  @media (max-width: 450px)
    bottom 0
